.container
{
  /*  background-color: yellow; */
    height:100%;
    width:100%;
    max-width:1165px;
    margin:auto;
}

.ntng
{
	width:500px;
	height:500px;
	background-color: blue;
	position:absolute;
	max-width:500px;
}

header
{
   height:25%;
   max-height: 200px;
   display:flex;
}
	.logo
	{
	   /* background-color: pink; */
	    width:25%;
	    height:100%;
	    margin-left:20px;
	    margin-top: 10px; 
	}
		.logoimg
		{
			max-width:150px; width:100%;
			max-height:150px; height:100%;
			margin:auto;
			align-self: center;
		}
	.myname
	{
		/* background-color: lightblue; */
		width:75%;
		height:100%;
	}
		.mynamefont
		{
			font-size:45px;
			font-family:"Courier New", Courier, monospace;
			text-align:right;
			margin:0px;
			margin-right:10px;
			margin-top:10px;
			padding:0px;
		}
		.sub1
		{
			font-size:25px;
			font-family:"Comic Sans MS", cursive, sans-serif;
			text-align:right;
			margin:0px;
			padding:0px;
			margin-right:10px;
		}


.body
{
	width:100%;
	height:70%; max-height:512px;
	overflow:hidden;
}
.img
{
	width:100%;
}


.details
{
	height:35%;
	width:100%;
	margin-top:20px;
} 
.skills
{
	width:33.33333333%;
	height:100%;
}
	.simg
	{
		max-height:200px;
		max-width:200px;
		display:block;
		width:80%;
		margin:auto;
		margin-top:20px;
	}
	button
	{
		border:none;
		background-color:Transparent;
	}
	button:hover
	{
		cursor:pointer;
	}
	.modalbox
	{
		
		width:100%;
		height:120%;
		max-width:1162px; max-height:620px;
		margin:auto;
		position:absolute;
		top:60%; bottom:0px; right:0px; left:0px;
		z-index:1;
		display:none;
		background:rgba(0,0,0,0.5);
	}
	h1
	{
		color:white;
		font-family: "Trebuchet MS", Helvetica, sans-serif;
	}
	.modalcontent
	{
		background-color:#F0F0F0;
		margin:auto;
		margin-bottom:20px;
		width:70%; max-width:1140px;
		height:500px;
		border:2px solid black;
		overflow:auto;
	}
	ul,li
	{
		font-size:20px;
		font-family:"Comic Sans MS", cursive, sans-serif;
		color:black;
	}
	.closebtn
	{
		color:#ccc;
		float:right;
		font-size:30px;
	}
	.closebtn:hover, .closebtn:focus
	{
		color:#FFFFFF;
		text-decoration: none;
		cursor:pointer;
	}
.academics
{
	width:33.33333333%;
	height:100%;
}
.abouts
{
	width:33.33333333%;
	height:100%;
}


.end
{
	background-color: black;
	width:100%;
	height:10%;
}
.endfont
{
	color:white;
	font-family: verdana;
	font-size:25px;
	text-align:center;
	margin-top:15px;
}

@media screen and (max-width:636px)
{
	.details
	{
		height:100%;
	}
	.skills
	{
		width:100%;
		height:33.33%;
	}
	.academics
	{
		width:100%;
		height:33.33%;
	}
	.abouts
	{
		width:100%;
		height:33.33%;
	}
}
@media screen and (max-width:969px) and (min-width: 637px)
{
	.details
	{
		height:80%;
		display:flex;
		flex-wrap:wrap;
	}
	.skills
	{
		width:50%;
		max-width:637px;
		height:50%;
	}
	.academics
	{
		width:50%;
		height:50%;
		max-width:637px;
	}
	.abouts
	{
		width:50%;
		height:50%;
		max-width:637px;
	}
}
@media screen and (min-width:970px)
{
	.details
	{
		display:flex;
	}
}
@media screen and (max-width:564px)
{
	.logoimg
	{
		width:100px;
		height:100px;
	}
	.sub1
	{
		font-size:15px;
	}
	.mynamefont
	{
		font-size:35px;
	}
	ul,li { font-size: 10px; }
	h1 
	{
		font-size: 15px;
	}
	.endfont
	{
		font-size: 10px;
	}
}
@media screen and (max-width:519px)
{
	.body
	{
		height:50%;
	}
	.img
	{
		height:100%;
	}
	.simg
	{
		max-height:150px;
		max-width: 150px;
	}
}